// variable
:root {
  --font-body: "Nunito", sans-serif;
  --font-heading: "Nunito", sans-serif;
  --color-body: #1C1C26;  
  --color-text:#4D4C48;
  --color-yellow: #f9e791;  
  --xb-track-color: #06083c;  
  --color-white: #fff;
  --color-black: #000; 
  --color-bg: #F5F5F5 ;
  --color-blue:#134C5F;
  --color-orange:#F65D33;
  --color-gray:#E2E2E2;
  --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
